// declare variables using const
const name = 'John Doe';
const suffix_token = 'id123344';

// define object using object literal `{}` with properties and a method
const obj = {
  // shorthand for name: name
  name,
  address: 'Los Baños, Laguna',

  // computed property name inside object literal
  ['secret_' + suffix_token]: '12345',

  // object methods
  showInfo() {
    console.log('Name: ' + this.name + ' Address: ' + this.address);
  }
};

// show the contents of the object
console.log(obj)
